
/* sideBar stuff */

div.sideBar {
  text-align: center;
  background-color: ;
}
.logo {
  height: 50%;
  width: 50%;
  display: block;
  margin: auto;
}

/* main area stuff */

  /* these are the 3 top buttons */

div.mainContent {
  text-align: center;
}
div.tri {
  text-align: center;
  background-color: cyan;
  display: block;
}
div.all {
  background-color: green;
}
div.online {
  background-color: blue;
}
div.offline {
  background-color: brown;
}
  /* these are where the channels should go */

div.firstChannel,
div.secondChannel
div.thirdChannel,
div.fourthChannel, {
  display: inline-block;
  text-align: center;
}
